@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Public Sans", sans-serif;
}

.text1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
}

.text2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.text3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.text4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}

.textBold4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
}

.text5 {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
}

.textBold5 {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
}